* {
    margin: 0;
    padding: 0;
    display: border-box;
}

header {
    background-color: cyan;
}

h2 {
    font-family: monospace;
    color: darkblue;
    text-align: center;
}

h3 {
    font-size: 18px;
    font-family: monospace;
    color: darkblue;
}
p {
    color: red;
    font-family: monospace;
}